.individual-book-container{
    display:inline-block;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    height:300px;
    width:300px;
}
.individual-container>*{
    margin: 0%;
}
.text-bold{
    font-weight: bold;
}
.book-image{
    width:120px;
    height:150px;
    border-radius: 10px;
    margin-bottom: 0px;
}