.individual-container{
    display: inline-block;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
}
.individual-container>*{
    margin: 0%;
}
.text-bold{
    font-weight: bold;
}
.telephone{
    position: relative;
    top:4px;
    width:20px;
    height:20px;
}
.profile-layout{
    width:240px;
    height:320px;
    border-radius: 50px;
    margin-bottom: 30px;
}